In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df = pd.read_csv('redlined_cities.csv')

In [ ]:
df.describe(include='all')

In [ ]:
df.isnull().sum().sum()

In [15]:
df.tail()

          city  city_id state  year     form_id
205   Syracuse      108    NY  1937      1939.0
206     Denver       23    CO  1938  19371001.0
207    Everett      273    MA   NaN  19371001.0
208  Arlington      265    MA  1939  19371001.0
209       York      142    PA   NaN      9675.0

In [30]:
df[df["state"] == "MN"]

            city  city_id state  year  form_id
48   Minneapolis       81    MN  1937      1.0
79     Rochester       82    MN   NaN      0.0
112     St. Paul       83    MN   NaN      1.0
176       Duluth       80    MN  1936      1.0

In [43]:
def is_redlined():
    state = input("What state do you want to search for?  \n")
    print(df[df['state'] == state])

In [44]:
is_redlined()

            city  city_id state  year     form_id
18   Port Arthur      159    TX   NaN         NaN
103       Austin      246    TX  19xx         0.0
119       Dallas      154    TX  1937  19371001.0
121         Waco      161    TX   NaN         NaN
125     Amarillo      151    TX   NaN         NaN
126      Houston      158    TX   NaN         NaN
127    Galveston      157    TX   NaN         NaN
128   Fort Worth      156    TX   NaN         NaN
166  San Antonio      160    TX   NaN         NaN
168      El Paso      155    TX  1936         1.0
169     Beaumont      153    TX   NaN         NaN